<% include partials/header.ejs %>
<section class="bgimage" id="home">
    <div class="container-fluid">
        <div class="row">
        
        </div>
    </div>

<section id="portfolio">
    <div class="container mt-3">
        <h1 class="text-center">Portfolio</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card">
                    
                    <div class="card-body">
                        <h4 class="card-title">Portfolio website</h4>
                    <br>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  
                    <div class="card-body">
                        <h4 class="card-title">Example Project</h4>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  
                    <div class="card-body">
                        <h4 class="card-title">Example Project </h4>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  
                    <div class="card-body">
                        <h4 class="card-title">Example Project </h4>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                  
                    <div class="card-body">
                        <h4 class="card-title">Example Project</h4>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    
                    <div class="card-body">
                        <h4 class="card-title">Example Project</h4>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> 
        <br>
        <br>
         <br> 
        <br>
        </div>
</section>

<% include partials/footer.ejs %>